<div class="container">
  <h1>Edit Task</h1>

  <%= form_for([@task.list, @task], data: { turbo: false }) do |f| %>

    <%= render(:partial => 'form', :locals => { :f => f }) %>

    <%= f.submit('Update Task', class: "btn btn-primary") %>

  <% end %>
</div>
