<div class="container">
  <h1>Labels</h1><br/>

  <% unless @labels.empty? %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Title</th>
        <th colspan="3">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.title %></td>
          <td><%= link_to "Delete", label, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="my-2 my-lg-0">
    <%= link_to 'Create new label', new_label_path, :class => 'action new btn btn-outline-primary my-2 my-sm-0' %>
  </div>

</div>
