development:
  adapter: postgresql
  host: localhost
  username: postgres
  password: password
  pool: 5
  database: todo_list_development

test:
  adapter: postgresql
  host: localhost
  username: postgres
  password: password
  pool: 5
  database: todo_list_test